:root{
    /* Valores predeterminados que podemos reutilizar y modificar a gusto*/

    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233,187,2);
    --blanco: #FFF;
    --negro: #000;
    

    --fuentePrincipal: 'Staatliches', cursive;

}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 66.5%; /*Esto nos permite agregar rems y que 1rem sea igual a 10px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* Globales */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5; /*interlineado de 1.5 rem*/
    
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);

}

a{
    text-decoration: none;

}

img{
    max-width: 100%;
    width: 100%;

}

.contenedor{
    max-width: 120rem;
    margin: 0 auto; /* Con margin "0 auto" es la manera en que centramos el contendor*/

}

h1, h2, h3{
    text-align: center;
    color:var(--secundario);
    font-family: var(--fuentePrincipal);

}

h1{
    font-size: 4rem;

}
h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}
/* Footer */

.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text{
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 2.2rem;
}
 /* HEADER */
.header{
    /* Ajustamos el header al centro */
    display: flex;
    justify-content: center;

}

.header__logo{
    margin: 3rem 0; /* margen hacia arriba  hacia abajo es el primer valor y el segundo valor y es a los costados*/

}

/* NAVEGACION */

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display:flex;
    justify-content: center;
    font-family: var(--fuentePrincipal);
    gap: 2rem; /* (separacion de forma nueva) en flexbox separa los elemntos dentro del flex*/
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
   /* margin-right: 2 rem; /*Forma anterior de generar separacion entre elementos*/
    
} 
/*.navegacion__enlace:last-of-type{
    margin-right: 0;
}*/

.navegacion__enlace:hover,
.navegacion__enlace--activo{
    color: var(--secundario);

}
/* GRID */

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 2rem; /*Con GAP nos abarca lo que es column-gap y row-gap que es el espaciado entre columnas/elementos de forma lateral y vertical*/
}

@media (min-width: 768px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}




/* Productos */
.producto{
    background-color: var(--primarioOscuro);
    padding: 1rem;

}

.producto__imagen{
    width: 100%;

}

.producto__nombre{
    font-size: 4rem;

}
.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Graficos */
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}
.grafico--camisas{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
.grafico--node{
    grid-row: 5 / 6;
    grid-column: 2 / 4;
    }
}

/* Nosotros */

.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.nosotros__imagen{
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
    .nosotros{
        
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}

/* Bloques */

.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}
@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
.nosotros__contenido{
    text-align: justify;
}
.bloque{
    text-align: center;

}

.bloque__titulo{
    margin:0;
}


/* PRODUCTO */

@media (min-width: 768px) {
    .camisa{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

    }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo{
    /* border-color: var(--primarioOscuro);
    border-width: 1rem;
    border-style: solid; 
    Estas tres lineas se reducen a la linea de abajo la primera es del tamaño del border, el estilo, y el color
    */

    border: 1rem solid var(--primarioOscuro); 
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 1rem;

}

.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    font-size: 2rem;
    transition: background-color .4 ease;

    grid-column: 1/3;
}
.formulario__submit:hover{
    cursor:pointer;
    background-color: var(--secundarioOscuro);
}
